body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.task-box:hover{
  box-shadow: 4px 10px 12px 2px grey;
}

.task-group-box:hover{
  box-shadow: 4px 10px 12px 2px grey;
}

.cursor-to-pointer{
  cursor: pointer;
}